target/*
/target

.metadata/.lock

.metadata/.log

*.version

*.index

*.tree

*.resources

*.prefs

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.xml

*.log

*.ini
